body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    padding: 0px 10px;
}

h1 {
    font-size: 300%;
    margin: 0;
    transition: font-size 0.5s;
}
