html, body {
    margin: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

:root {
    color-scheme: light dark;
  }

* {
    box-sizing: border-box;
}

visualscript-main {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 25px;
    /* border: none; */
}