
table {
    /* display: none; */
    background: rgb(50,50,50);
    color: white;
    overflow: scroll;
    width: 100%;
    text-align: left;
}

table td, table th {
    padding: 5px;
}

table .header-row > th {
    padding: 10px;
    font-size: 100%;
}

table th {
    font-size: 90%;
}

table .header-row {
    background: black;
    color: white;
    padding-top: 20px;
}