* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    padding: 25px;
}

nav {
    background: black;
    color: white;
    padding: 15px 40px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav h1 {
    margin: 0;
}

/* Demos */
#demos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
    align-content: flex-start;
}

#demos>div {
    height: 200px;
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* Center the image */
}

/* App Demonstration */
#demo {
    flex-grow: 1;
    width: 100%;
    display: none;
}

#container {
    width: 100%;
    height: 100%;
}

#loader {
    flex-grow: 1;
    height: 5px;
    padding: 0px 25px;
}

#loader>div {
    width: 100%;
    height: 100%;
    background: rgb(75, 75, 75);
}

#loader>div>div {
    width: 0%;
    height: 100%;
    background: rgb(127, 223, 255);
    transition: 1s;
}

#progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
    transition: opacity 1s;
    pointer-events: none;
    padding: 50px;
    opacity: 0;
}

#backButton {
    display: none;
}


/* App Stuff */

#app {
    flex-grow: 1;
    overflow: scroll;
}


/* States */



#states {
    /* display: none; */
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(50,50,50);
    color: white;
    opacity: 0.5;
    max-height: 100vh;
    overflow: scroll;
}

#states:hover {
    opacity: 1;
}

#states td, #states th {
    padding: 5px;
    padding-right: 20px;
}

#states .header-row > th {
    padding: 10px;
    padding-right: 50px;
}

#states .header-row {
    background: black;
    color: white;
    padding-top: 20px;
}